
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;1,100,200;0,100;1,300;&display=swap');
p {
  font-family:'Raleway', sans-serif;
  color:#69585F;
  font-weight:300;
  text-align:center;
}
h3 {
  font-family:'Raleway', sans-serif;
  font-weight:700;
  color:#D9CEC9;
  text-align:center;
  text-decoration: none;
}
a:link{
  color:#CBCDA2;
  font-family:'Raleway', sans-serif;
  font-weight:100;
  text-decoration: none;
  font-size:120%;
  font-style:italic;
}
a:visited{
  color:#CBCDA2;
  font-family:'Raleway', sans-serif;
  font-weight:300;
  text-decoration: none;
  font-size:120%;
  font-style:italic;
}
a:hover{
  color:#D9CEC9;
  font-family:'Raleway', sans-serif;
  font-weight:100;
  text-decoration: none;
  font-size:120%;
  font-style:italic;
}
#TOC {
  font-family:'Raleway', sans-serif;
  font-weight:200;
  font-style:normal;
  color:#69585F;
  text-align:center;
  font-size:200%
}
h1 {
  font-family:'Raleway', sans-serif;
  font-weight:700;
  text-align:center;
  color:#69585F;
  font-size:400%;

}
#mtn{
  width: 40vw;
  height: auto;
}
body{
  background-color:##F5F5F5;
}
h4 {
  color:#2C0E37;
  font-family:'Raleway', sans-serif;
  font-weight:200;
  text-align:center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.middle {
  text-align:center
}
pic {
  border-color:#69585F;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 400px) {
  div.example {
    font-size: 80px;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 399px) {
  div.example {
    font-size: 30px;
  }
}
img {
  width: 40vw;
  height: auto;
}
